ul {
  margin-bottom: 0;
}

body{
  font-family:'Squada One', 'cursive','Noto Sans TC', sans-serif;
  
}

img{
  display: block;
  object-fit: cover;
  max-width: 100%;
}

a{
  display: block ;
  list-style: none;
  
}