.font-noto{
  font-family:'Noto Sans TC', sans-serif;
}
.font-payttone{
  font-family: 'Paytone One', sans-serif;
}

.z-index-100{
  z-index: 100;
}


.bg-img{
  background-position: center;
  background-size: cover;

}