.money-hover:hover{
  color: black !important;
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.color-hover:hover{
  color: $secondary !important;
  
}

// .button-hover:hover{
//   color: $secondary !important;
//   animation: bounce 3s;
// }


.button-hover:hover {
  color: $secondary !important;
  animation: pulse ; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s ; /* don't forget to set a duration! */
}


.img-hover::before{
  content:"more";
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

.card-hover:hover{
  .img-hover::before{
    opacity: 0.8 ;
  }

}


.art-hover{
  opacity: 0;
}



.art:hover{
  .art-hover{
    opacity: 1;
  }
}